<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TuitionReimbursementSystem</display-name>
  <welcome-file-list>
    <welcome-file>D:\Vit\TuitionReimbursementSystem\src\main\webapp\index.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.controllers.LoginServlet</servlet-class>
    <!-- ServletConfig - single servlet configuration -->
    <init-param>
    	<param-name>favColor</param-name>
    	<param-value>yellow</param-value>
    </init-param>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementFormServlet</servlet-name>
  	<servlet-class>com.revature.controllers.ReimbursementFormServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementFormServlet</servlet-name>
  	<url-pattern>/ReimbursementFormServlet</url-pattern>
  </servlet-mapping>
  
</web-app>